Package: com.socuul.scinsta
Name: SCInsta
Version: 0.4.1
Architecture: iphoneos-arm
Description: A feature-rich tweak for Instagram on iOS!
Maintainer: SoCuul
Author: SoCuul
Section: Tweaks
Depends: mobilesubstrate, ws.hbang.common